:root {
  /* color  */
  --clr-blue: #0967d2;
  --clr-black: #444;
/* vikas is testing */
  /* Font Weight */
  --font-900: 900;
  --font-700: 700;
  --font-500: 500;
  --font-300: 300;
  
}
ul{
  list-style: none;
}
@font-face {
  font-family: Apercu;
  src: url("./fonts/apercu/Apercu-Light.eot");
  src: url("./fonts/apercu/Apercu-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/apercu/Apercu-Light.woff2") format("woff2"),
    url("./fonts/apercu/Apercu-Light.woff") format("woff"),
    url("./fonts/apercu/Apercu-Light.ttf") format("truetype"),
    url("./fonts/apercu/Apercu-Light.svg#Apercu-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url("./fonts/apercu/Apercu-LightItalic.eot");
  src: url("./fonts/apercu/Apercu-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/apercu/Apercu-LightItalic.woff2") format("woff2"),
    url("./fonts/apercu/Apercu-LightItalic.woff") format("woff"),
    url("./fonts/apercu/Apercu-LightItalic.ttf") format("truetype"),
    url("./fonts/apercu/Apercu-LightItalic.svg#Apercu-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url("./fonts/apercu/Apercu-Regular.eot");
  src: url("./fonts/apercu/Apercu-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/apercu/Apercu-Regular.woff2") format("woff2"),
    url("./fonts/apercu/Apercu-Regular.woff") format("woff"),
    url("./fonts/apercu/Apercu-Regular.ttf") format("truetype"),
    url("./fonts/apercu/Apercu-Regular.svg#Apercu-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url("./fonts/apercu/Apercu-Italic.eot");
  src: url("./fonts/apercu/Apercu-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/apercu/Apercu-Italic.woff2") format("woff2"),
    url("./fonts/apercu/Apercu-Italic.woff") format("woff"),
    url("./fonts/apercu/Apercu-Italic.ttf") format("truetype"),
    url("./fonts/apercu/Apercu-Italic.svg#Apercu-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url("./fonts/apercu/Apercu-Medium.eot");
  src: url("./fonts/apercu/Apercu-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/apercu/Apercu-Medium.woff2") format("woff2"),
    url("./fonts/apercu/Apercu-Medium.woff") format("woff"),
    url("./fonts/apercu/Apercu-Medium.ttf") format("truetype"),
    url("./fonts/apercu/Apercu-Medium.svg#Apercu-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url("./fonts/apercu/Apercu-MediumItalic.eot");
  src: url("./fonts/apercu/Apercu-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/apercu/Apercu-MediumItalic.woff2") format("woff2"),
    url("./fonts/apercu/Apercu-MediumItalic.woff") format("woff"),
    url("./fonts/apercu/Apercu-MediumItalic.ttf") format("truetype"),
    url("./fonts/apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url("./fonts/apercu/Apercu-Bold.eot");
  src: url("./fonts/apercu/Apercu-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/apercu/Apercu-Bold.woff2") format("woff2"),
    url("./fonts/apercu/Apercu-Bold.woff") format("woff"),
    url("./fonts/apercu/Apercu-Bold.ttf") format("truetype"),
    url("./fonts/apercu/Apercu-Bold.svg#Apercu-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url("./fonts/apercu/Apercu-BoldItalic.eot");
  src: url("./fonts/apercu/Apercu-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/apercu/Apercu-BoldItalic.woff2") format("woff2"),
    url("./fonts/apercu/Apercu-BoldItalic.woff") format("woff"),
    url("./fonts/apercu/Apercu-BoldItalic.ttf") format("truetype"),
    url("./fonts/apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}
/* RESET  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Apercu, "Source Sans Pro", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--clr-black);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #0967d2;
}
::-webkit-scrollbar-track {
  background: white;
}
/* Header */
.header {
  height: 100vh;
}
.header__container {
  height: 100%;
  padding: 120px 100px;
  margin: 0 auto;
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header__intro,
.header__desc,
.header__desc-name,
.emoj {
  font-weight: var(--font-300);
  font-size: 2.5rem;
}
.header__intro {
  font-weight: var(--font-500);
}
.header__desc-name {
  font-weight: var(--font-700);
  color: var(--clr-blue);
}
.header__desc {
  max-width: 700px;
}
.header__contact span {
  font-size: 1.25em;
  font-weight: var(--font-300);
}
@media only screen and (max-width: 768px) {
  .header__container{
    /* width: 100%; */
    margin: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
  }
  .header__intro,
  .header__desc,
  .header__desc-name,
  .emoj {
    font-weight: var(--font-300);
    font-size: 2rem;
  }
  .header__desc-name {
    font-weight: var(--font-700);
    color: var(--clr-blue);
  }
  .header__desc {
    min-width: 500px;
  }
  .background ,
  .skills,
  .projects{
    display: flex;
    flex-direction: column;
  }
  .skils-grid {
    display: grid;
    justify-content: center;
  }
}
/* Highlight */
.highlight{
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 #0967d2;

}
.highlight:hover{
    color: #fff;
    box-shadow: inset 0 -33px 0 #0967d2;
}

/* Background */
.background{
    display: flex;
    justify-content: center;
    padding: 75px 170px;
}
.section__title{
color: var(--clr-blue);
font-weight: var(--font-900);
margin-right: 70px;
letter-spacing: 2px;
font-size: 1.2em;
}
.section__content{
    max-width: 650px;
    font-weight: var(--font-300);
}
.section__content p{

    margin-bottom: 25px;
}
/*  */
.link{
  font-weight: var(--font-700);
  position: relative;
  display: inline-block;
  text-decoration: none;

}
.link::after{
  content: " ";
  top: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #36363c;
  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
}
.link:focus::after,
.link:hover::after{
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  transform: translateY(-2px);
}
/*  */
.arrow-link {
  text-decoration: none;
  font-weight: var(--font-700);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  display: inline-block;
  background-color: transparent;
  white-space: nowrap;
}
.arrow-link:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  bottom: 2px;
  margin-left: 15px;
  content: "";
  background: url("./img/arrow.png") no-repeat center;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.arrow-link:hover:after {
  -webkit-transform: translateX(7px);
  transform: translateX(7px);
}
.skills{
  display: flex;
  justify-content: center;
  padding: 75px 170px;
}
.skills__grid{
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  cursor: pointer;
  padding-top: 10px;
}

.skils-grid {
  justify-items: center;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  cursor: pointer;
  padding-top: 10px;
}
.section-content.skils-grid {
  padding: 0;
  padding-top: 1.25rem;
}
.skils-grid > * {
  font-size: 3rem;
  width: 50px;
  margin: 0 25px;
}
.icon-hover {
  transition: transform 250ms, opacity 400ms;
}

.icon-hover:hover {
  transform: scale(1.25);
  opacity: 1;
  /* color: var(--clr-blue); 
  fill: var(--clr-blue); 
  i used filter bcoz some of element are svg and some are font 
  fill properties doesnt seem to work here 
  for font icons color property will work */
  filter: invert(26%) sepia(69%) saturate(2341%) hue-rotate(200deg) brightness(98%) contrast(96%);
}
.mb-10{
  margin-bottom: 10px;
}
.projects{
  display: flex;
  justify-content: center;
  padding: 75px 170px 0px 170px;
     
}
.projects .project{
max-width: 600px;
margin-bottom: 50px;
}
.tag{
  display: inline-block;
  margin: 3px 3px 3px 0;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2px 7px;
  border-radius: 3px;
  color: #0967d2;
  border: 1px solid #0967d2;
  background: 0 0;
}
.projects p {
font-size: 14.4px;
font-weight: var(--font-300);
/* line-height: 21px; */
}
.projects h4{
  text-align: center;
}

.footer{
  justify-content: space-between;
  padding: 50px 80px;
  display: flex;
}
.list{
  display: flex;
  justify-content: space-between;
}
.list-item{
  margin:10px
}
.copy{
  font-weight: var(--font-700);
}