---
import Navbar from "./ui/Navbar.astro";
import Loader from "./ui/Loader.astro";
import HeroSection from "./sections/HeroSection.astro";
import AboutSection from "./sections/AboutSection.astro";
import WorkSection from "./sections/WorkSection.astro";
import SystemsSection from "./sections/SystemsSection.astro";
import SkillsSection from "./sections/SkillsSection.astro";
import ExperienceSection from "./sections/ExperienceSection.astro";
import LabSection from "./sections/LabSection.astro";
import ContactSection from "./sections/ContactSection.astro";
---

<Loader />
<main class="main">
  <Navbar />
  <HeroSection />
  <AboutSection />
  <WorkSection />
  <SystemsSection />
  <SkillsSection />
  <ExperienceSection />
  <LabSection />
  <ContactSection />
</main>

<style>
  .main {
    background: var(--clr-bg);
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }

  .main::before,
  .main::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--clr-border);
    z-index: 1;
    pointer-events: none;
  }

  .main::before {
    left: calc(var(--gutter) * 0.6);
  }

  .main::after {
    right: calc(var(--gutter) * 0.6);
  }
</style>
