:root {
  /* color  */
  --clr-blue: #0967d2;
  --clr-black: #444;
  --clr-white: #fff;
  --clr-gray: #d5d5d5;
  --clr-blackground: #f8f8f8;
  /* Font Weight */
  --font-900: 900;
  --font-700: 700;
  --font-500: 500;
  --font-300: 300;
  --gutter: 4rem;
}

@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu/Apercu-Light.eot");
  src: url("/fonts/apercu/Apercu-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/apercu/Apercu-Light.woff2") format("woff2"),
    url("/fonts/apercu/Apercu-Light.woff") format("woff"),
    url("/fonts/apercu/Apercu-Light.ttf") format("truetype"),
    url("/fonts/apercu/Apercu-Light.svg#Apercu-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu/Apercu-LightItalic.eot");
  src: url("/fonts/apercu/Apercu-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/apercu/Apercu-LightItalic.woff2") format("woff2"),
    url("/fonts/apercu/Apercu-LightItalic.woff") format("woff"),
    url("/fonts/apercu/Apercu-LightItalic.ttf") format("truetype"),
    url("/fonts/apercu/Apercu-LightItalic.svg#Apercu-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu/Apercu-Regular.eot");
  src: url("/fonts/apercu/Apercu-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/apercu/Apercu-Regular.woff2") format("woff2"),
    url("/fonts/apercu/Apercu-Regular.woff") format("woff"),
    url("/fonts/apercu/Apercu-Regular.ttf") format("truetype"),
    url("/fonts/apercu/Apercu-Regular.svg#Apercu-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu/Apercu-Italic.eot");
  src: url("/fonts/apercu/Apercu-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/apercu/Apercu-Italic.woff2") format("woff2"),
    url("/fonts/apercu/Apercu-Italic.woff") format("woff"),
    url("/fonts/apercu/Apercu-Italic.ttf") format("truetype"),
    url("/fonts/apercu/Apercu-Italic.svg#Apercu-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu/Apercu-Medium.eot");
  src: url("/fonts/apercu/Apercu-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/apercu/Apercu-Medium.woff2") format("woff2"),
    url("/fonts/apercu/Apercu-Medium.woff") format("woff"),
    url("/fonts/apercu/Apercu-Medium.ttf") format("truetype"),
    url("/fonts/apercu/Apercu-Medium.svg#Apercu-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu/Apercu-MediumItalic.eot");
  src: url("/fonts/apercu/Apercu-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/apercu/Apercu-MediumItalic.woff2") format("woff2"),
    url("/fonts/apercu/Apercu-MediumItalic.woff") format("woff"),
    url("/fonts/apercu/Apercu-MediumItalic.ttf") format("truetype"),
    url("/fonts/apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu/Apercu-Bold.eot");
  src: url("/fonts/apercu/Apercu-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/apercu/Apercu-Bold.woff2") format("woff2"),
    url("/fonts/apercu/Apercu-Bold.woff") format("woff"),
    url("/fonts/apercu/Apercu-Bold.ttf") format("truetype"),
    url("/fonts/apercu/Apercu-Bold.svg#Apercu-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url("/fonts/apercu/Apercu-BoldItalic.eot");
  src: url("/fonts/apercu/Apercu-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/apercu/Apercu-BoldItalic.woff2") format("woff2"),
    url("/fonts/apercu/Apercu-BoldItalic.woff") format("woff"),
    url("/fonts/apercu/Apercu-BoldItalic.ttf") format("truetype"),
    url("/fonts/apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}
/* RESET  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Apercu, "Source Sans Pro", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--clr-black);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #0967d2;
}
::-webkit-scrollbar-track {
  background: white;
}

/* Scroll Behavior */
html {
  scroll-behavior: smooth;
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b239d7aeb290a31ac5_cursor-default%402x.svg")
      2 0,
    auto;
}

a,
button {
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b212e6b71494aa67ff_cursor-pointer%402x.svg")
      12 0,
    pointer;
}
.ui-background-lines {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-image: url(/img/scanline-dark.png);
  background-repeat: repeat;
  z-index: 0;
  opacity: 0.08;
  box-sizing: border-box;
}
