---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="shortcut icon"
      href="/src/assets/img/icon.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  </body>
</html>

<style>
  :root {
    /* color  */
    --clr-blue: #0967d2;
    --clr-black: #444;
    /* Font Weight */
    --font-900: 900;
    --font-700: 700;
    --font-500: 500;
    --font-300: 300;
  }

  @font-face {
    font-family: Apercu;
    src: url("/src/assets/fonts/apercu/Apercu-Light.eot");
    src:
      url("/src/assets/fonts/apercu/Apercu-Light.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/apercu/Apercu-Light.woff2") format("woff2"),
      url("/src/assets/fonts/apercu/Apercu-Light.woff") format("woff"),
      url("/src/assets/fonts/apercu/Apercu-Light.ttf") format("truetype"),
      url("/src/assets/fonts/apercu/Apercu-Light.svg#Apercu-Light")
        format("svg");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: Apercu;
    src: url("/src/assets/fonts/apercu/Apercu-LightItalic.eot");
    src:
      url("/src/assets/fonts/apercu/Apercu-LightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/apercu/Apercu-LightItalic.woff2") format("woff2"),
      url("/src/assets/fonts/apercu/Apercu-LightItalic.woff") format("woff"),
      url("/src/assets/fonts/apercu/Apercu-LightItalic.ttf") format("truetype"),
      url("/src/assets/fonts/apercu/Apercu-LightItalic.svg#Apercu-LightItalic")
        format("svg");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: Apercu;
    src: url("/src/assets/fonts/apercu/Apercu-Regular.eot");
    src:
      url("/src/assets/fonts/apercu/Apercu-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/apercu/Apercu-Regular.woff2") format("woff2"),
      url("/src/assets/fonts/apercu/Apercu-Regular.woff") format("woff"),
      url("/src/assets/fonts/apercu/Apercu-Regular.ttf") format("truetype"),
      url("/src/assets/fonts/apercu/Apercu-Regular.svg#Apercu-Regular")
        format("svg");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: Apercu;
    src: url("/src/assets/fonts/apercu/Apercu-Italic.eot");
    src:
      url("/src/assets/fonts/apercu/Apercu-Italic.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/apercu/Apercu-Italic.woff2") format("woff2"),
      url("/src/assets/fonts/apercu/Apercu-Italic.woff") format("woff"),
      url("/src/assets/fonts/apercu/Apercu-Italic.ttf") format("truetype"),
      url("/src/assets/fonts/apercu/Apercu-Italic.svg#Apercu-Italic")
        format("svg");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: Apercu;
    src: url("/src/assets/fonts/apercu/Apercu-Medium.eot");
    src:
      url("/src/assets/fonts/apercu/Apercu-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/apercu/Apercu-Medium.woff2") format("woff2"),
      url("/src/assets/fonts/apercu/Apercu-Medium.woff") format("woff"),
      url("/src/assets/fonts/apercu/Apercu-Medium.ttf") format("truetype"),
      url("/src/assets/fonts/apercu/Apercu-Medium.svg#Apercu-Medium")
        format("svg");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: Apercu;
    src: url("/src/assets/fonts/apercu/Apercu-MediumItalic.eot");
    src:
      url("/src/assets/fonts/apercu/Apercu-MediumItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/apercu/Apercu-MediumItalic.woff2") format("woff2"),
      url("/src/assets/fonts/apercu/Apercu-MediumItalic.woff") format("woff"),
      url("/src/assets/fonts/apercu/Apercu-MediumItalic.ttf") format("truetype"),
      url("/src/assets/fonts/apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic")
        format("svg");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: Apercu;
    src: url("/src/assets/fonts/apercu/Apercu-Bold.eot");
    src:
      url("/src/assets/fonts/apercu/Apercu-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/apercu/Apercu-Bold.woff2") format("woff2"),
      url("/src/assets/fonts/apercu/Apercu-Bold.woff") format("woff"),
      url("/src/assets/fonts/apercu/Apercu-Bold.ttf") format("truetype"),
      url("/src/assets/fonts/apercu/Apercu-Bold.svg#Apercu-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: Apercu;
    src: url("/src/assets/fonts/apercu/Apercu-BoldItalic.eot");
    src:
      url("/src/assets/fonts/apercu/Apercu-BoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/apercu/Apercu-BoldItalic.woff2") format("woff2"),
      url("/src/assets/fonts/apercu/Apercu-BoldItalic.woff") format("woff"),
      url("/src/assets/fonts/apercu/Apercu-BoldItalic.ttf") format("truetype"),
      url("/src/assets/fonts/apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic")
        format("svg");
    font-weight: 700;
    font-style: italic;
  }
  /* RESET  */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Apercu, "Source Sans Pro", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--clr-black);
  }
  ul,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0967d2;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }
</style>
