<!-- https://codepen.io/elegantseagulls/pen/wvMgXxN --><!-- https://codepen.io/GreenSock/pen/YzyqVNe --><!-- https://codepen.io/BlogFire/pen/NWYRqmv -->
<section class="trigger">
  {Array.from({ length: 50 }).map((_, i) => <div class="box" />)}
</section>

<style>
  .box {
    height: 1.2vh;
    width: 50vw;
    margin-bottom: -0.2vh;
    background: #141414;
    display: block;
  }
  section {
    height: 100vh;
    overflow: hidden;
    background-color: var(--clr-blackground);
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap
    .timeline({
      scrollTrigger: {
        trigger: ".trigger",
        scrub: 0.5,
        pin: true,
        start: "top top",
        end: "+=100%",
      },
    })
    .to(".box", {
      force3D: true,
      duration: 1,
      xPercent: 100,
      ease: "power1.inOut",
      stagger: { amount: 1 },
    })
    .to(".box", { ease: "power1.out", duration: 1, rotation: "45deg" }, 0)
    .to(".box", { ease: "power1.in", duration: 1, rotation: "0deg" }, 1);
</script>
